/*.App {
  text-align: center;
}*/
.App {
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(187, 17, 17);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.playerCard{
  font-size:30px;
  width:70%;
  margin:20px;
  padding:20px 0px 40px;
}
.playerList{
  max-height:700px;
  overflow-y: scroll;
  flex:0.5;
}
.teamList{
  flex:2;
  display: flex;
  max-height: 150px;
  margin-top:20%;
  flex-wrap:wrap
}

.teamCard{
  height: 100px;
  width:200px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body{
 background: rgba(226,226,226,1);
background: -moz-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 51%, rgba(217,217,217,1) 80%, rgba(219,219,219,1) 86%, rgba(219,219,219,1) 92%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(0%, rgba(254,254,254,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(80%, rgba(217,217,217,1)), color-stop(86%, rgba(219,219,219,1)), color-stop(92%, rgba(219,219,219,1)));
background: -webkit-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 51%, rgba(217,217,217,1) 80%, rgba(219,219,219,1) 86%, rgba(219,219,219,1) 92%);
background: -o-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 51%, rgba(217,217,217,1) 80%, rgba(219,219,219,1) 86%, rgba(219,219,219,1) 92%);
background: -ms-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 51%, rgba(217,217,217,1) 80%, rgba(219,219,219,1) 86%, rgba(219,219,219,1) 92%);
background: linear-gradient(135deg, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 51%, rgba(217,217,217,1) 80%, rgba(219,219,219,1) 86%, rgba(219,219,219,1) 92%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#dbdbdb', GradientType=1 );
}